# System & IDE files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
Thumbs.db

# Root zip files
*.zip

# Backend Target & Wrapper
interviewquestbackend/target/
interviewquestbackend/.mvn/
interviewquestbackend/mvnw
interviewquestbackend/mvnw.cmd
interviewquestbackend/src/main/resources/application.properties

# Frontend Node modules & Builds
interviewquestfrontend/node_modules/
interviewquestfrontend/dist/
interviewquestfrontend/.env*
interviewquestfrontend/.env.local
interviewquestfrontend/.env.*

