@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Custom premium scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e4e4e7; /* zinc-200 */
  border-radius: 9999px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #27272a; /* zinc-800 */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d4d4d8; /* zinc-300 */
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; /* zinc-700 */
}