# App configuration name
spring.application.name=interviewquestbackend

# PostgreSQL Database Configuration
spring.datasource.url=jdbc:postgresql://localhost:5432/YOUR_DATABASE_NAME
spring.datasource.username=YOUR_POSTGRES_USERNAME
spring.datasource.password=YOUR_POSTGRES_PASSWORD
spring.datasource.driver-class-name=org.postgresql.Driver

# JPA and Hibernate configuration
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# Security Configuration - Enable detailed logs if needed
logging.level.org.springframework.security=INFO

# Application JWT configuration
interviewquest.app.jwtSecret=YOUR_BASE64_ENCODED_JWT_SECRET_KEY
interviewquest.app.jwtExpirationMs=86400000

# Spring Mail Configuration (Resend SMTP)
spring.mail.host=smtp.resend.com
spring.mail.port=587
spring.mail.username=resend
spring.mail.password=YOUR_RESEND_API_KEY
spring.mail.from=onboarding@resend.dev
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.starttls.required=true

